[user]
name = Daniel Hjort
email = daniel.hjort@gmail.com
editor = vim

[github]
	user = daijo
	token = XXXXXXXXXXXXXXXXXXXXXXXXXXXXX
[core]
	excludesfile = /Users/daijo/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[color]
        diff = true
